<div class="list">
  <div class="container">
    <div class="row">
      <% if @recipes.empty? %>
        <div class="col-lg-12 text-center">
          <a href="/recipes/new" class="btn-load">There are currently no recipes in the system! Click to add one!</a>
        </div>
      <% else %>
        <% @recipes.each do |recipe| %>
          <div class="col-lg-4 col-sm-6">
            <div class="box grid recipes">
              <div class="by"><i class="fa fa-user" aria-hidden="true"></i> <%= recipe.cook_name %></div>
              <a href=<%= recipe.show_path %>>
                <img src=<%= recipe.primary_photo_url %>>
              </a>
              <h2><a href= <%= recipe.show_path %> ><%= recipe.title %></a></h2>
              <p><%= recipe.summary %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
